[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
eve = "*"
eve-swagger = "*"
pyyaml = "*"
gunicorn = "*"
pytest = "*"
flask-script = "*"
requests = "*"
flask-swagger-ui = "*"

[requires]
python_version = "3.7"
